.top-background {
    background-color: #131212;
    height: 400px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    opacity: 0.8;
}
.team-logo {
    display: block;
    margin-left: 40%;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40px;
    z-index: 10;
}
.detail-container {
    background-color: rgba(6, 154, 223, 0.973);
    /* display: flex; */
    justify-content: space-between;
}
.detail-container img {
    width: 300px;
}
.social-icon > a {
    text-decoration: none;
}
.youtube {
    color: #eb3223;
}
.website{
    color: rgb(13, 221, 93);
}

.facebook {
    color: 	#4267B2;
}

.twitter {
    color: #1DA1F2;
}

.instagram {
    color: #e95950;
}
.social-icon > a:hover {
    transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
    .detail-container {
        text-align: center;
        /* display:inline-block; */
        /* justify-content:center; */
    }
}
