.top-background {
    background-color: #131212;
    height: 400px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    opacity: 0.9;
}
.team-logo {
    display: block;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 40px;
    z-index: 10;
    margin: auto;
    left: 0;
    right: 0;
}
.detail-container {
    background-color: rgba(6, 154, 223, 0.973);
    justify-content: space-between;
}
.detail-container img {
    width: 300px;
}
.social-icon > a {
    text-decoration: none;
    color: white;
}
.facebook:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.instagram:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.twitter:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.youtube:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.website:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 768px) {
    .detail-container {
        text-align: center;
        justify-content:center;
    }
}
